

* { box-sizing: border-box;}  

body {

	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	
}

header, nav, main, footer { 
}

p {
	margin-left: 2%;
}

header {}
header h1 {
	text-shadow: -2px 2px #f1f1f1;
}
header img { 
	float: left;
	width: 10%;
	min-width: 90px;
}
header .subheading {}

nav { clear: left; }
nav button { float: right; }
nav ul {
	list-style-type: none;
	margin: 2;
	padding: 2;
	width: 135px;
	background-color: #00008B;
}
nav ul li { /* width: 90px */
	text-indent: 0;
	text-align: left;
}

.highlow p {
	
	text-align: center;

}

div.current {
	width: 50%;
}

.current p {
	text-align: center;
}

.current img {
	float: right;
	width: 55px;
}

.conditions {
	clear: right;
}

nav ul li a { 
	display: block; 
	text-decoration: none;
	padding: 12px 14px;
	color: white;
}
nav ul li.active a {
	background-color: darkgoldenrod;
	font-weight: bold;
}
nav ul li a:hover {
	background-color: #DAA520;
}

main {}
main h2 { text-align: center; }
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

article p.town-article img {  
	width: 95%; 
	margin: 2%;
}

section.forecast {
	display: none;
}


footer {}
footer aside {}
footer>p {} 